html {
  height: 100vh;
  font-size: 16px;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
  image-rendering: -webkit-optimize-contrast;
}

picture {
  display: block;
  max-width: 100%;
}

a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  background: 0 0;
  vertical-align: baseline;
  cursor: pointer;
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.l-body {
  position: relative;
  width: 100%;
  margin-top: 1.875rem;
  color: #0b0b0b;
  line-height: 1;
  text-rendering: geometricPrecision;
  text-decoration-thickness: 0.0625rem;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}
@media screen and (width >= 1024px) {
  .l-body {
    margin-top: 0;
  }
}
.l-body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/bg/bg_dot.svg);
  background-repeat: repeat;
  background-size: 0.125rem 0.125rem;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media screen and (width >= 1024px) {
  .l-body::before {
    background-size: 0.25rem 0.25rem;
  }
}

.l-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
@media screen and (width >= 1024px) {
  .l-header {
    transform: none;
  }
}

.c-arrow, .c-arrow__01 {
  display: block;
  color: #e9352c;
  background-color: currentColor;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 49%);
          clip-path: polygon(0 0, 0 100%, 100% 49%);
}
.c-arrow__01 {
  width: min(0.6248046875vw, 8px);
  height: min(0.4684570313vw, 6px);
}

.c-background__dot {
  position: relative;
}
.c-background__dot::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../../img/bg/bg_dot.svg);
  background-size: 0.25rem 0.25rem;
  background-repeat: repeat;
  opacity: 0.6;
  z-index: 0;
  pointer-events: none;
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.c-display__sponly {
  display: block;
}
@media screen and (width >= 1024px) {
  .c-display__sponly {
    display: none;
  }
}

.c-display__pconly {
  display: none;
}
@media screen and (width >= 1024px) {
  .c-display__pconly {
    display: block;
  }
}

.c-flex__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.c-font {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.c-font__02 {
  font-family: "M PLUS 1p", serif;
  font-weight: 400;
  font-style: normal;
}

.c-font__03 {
  font-family: "fot-udkakugoc80-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.c-icon__plus, .c-icon__plus--medium {
  display: block;
  position: relative;
  letter-spacing: 0;
  line-height: 0;
  border-radius: 50%;
  background-color: #000000;
  transition: 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-property: background-color, transform;
}
.c-icon__plus::before, .c-icon__plus--medium::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.625rem;
  height: 0.125rem;
  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(0.00001deg);
}
.c-icon__plus::after, .c-icon__plus--medium::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.125rem;
  height: 0.625rem;
  background-color: #ffffff;
  transform: translate(-50%, -50%) rotate(0.00001deg);
  transition: all 0.27s cubic-bezier(0.77, 0, 0.175, 1);
}

.c-icon__plus--medium {
  width: min(1.7181640625vw, 22px);
  height: min(1.7181640625vw, 22px);
}

.p-chatwork {
  position: fixed;
  bottom: min(4.6512vw, 20px);
  left: 18.75px;
  width: 257.5px;
  z-index: 100000000;
}
@media screen and (width >= 1024px) {
  .p-chatwork {
    top: min(18.75vw, 240px);
    bottom: unset;
    left: unset;
    right: 0;
    width: min(16.40625vw, 210px);
  }
}

.p-header__inner {
  display: block;
  height: min(29.768vw, 128px);
  padding: min(9.3024vw, 40px) min(7.5vw, 42px) 0;
}
@media screen and (width >= 561px) {
  .p-header__inner {
    padding: min(5.2151515152vw, 40px) min(5.2290552585vw, 53.529px) 0;
  }
}
@media screen and (width >= 1024px) {
  .p-header__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: min(17.1875vw, 220px);
    padding: min(5vw, 64px) min(19.625vw, 251.2px) 0 min(7.8125vw, 100px);
  }
}
@media screen and (width >= 1441px) {
  .p-header__inner {
    padding: 5rem 19.625rem 0 6.25rem;
  }
}

.p-header__logo {
  width: min(33.024vw, 142px);
}
@media screen and (width >= 1024px) {
  .p-header__logo {
    width: min(13.75vw, 176px);
  }
}
.p-header__logo a {
  display: block;
}

@media (any-hover: hover) {
  .p-header__logo a:hover {
    opacity: 0.4;
  }
}
@media screen and (width >= 1024px) {
  .p-header__nav {
    display: flex;
    flex-direction: column-reverse;
    margin-top: max(-0.15625vw, -2px);
  }
}

.p-header__nav-main {
  position: relative;
  margin-top: min(1.953125vw, 25px);
}
.p-header__nav-main > li + li {
  margin-left: min(2.96875vw, 38px);
}

.p-header__nav-main__item {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  position: relative;
  padding: min(0.3125vw, 4px);
  margin: max(-0.3125vw, -4px);
  font-weight: 700;
  font-style: normal;
  font-size: min(1.562vw, 20px);
  color: #0b0b0b;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media screen and (width >= 1441px) {
  .p-header__nav-main__item {
    font-size: 1.625rem;
  }
}
.p-header__nav-main__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: auto;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #e9352c;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.p-header__nav-sub {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.p-header__nav-sub > li + li:not(.p-header__nav-sub__button) {
  margin-left: min(2.34375vw, 30px);
}

.p-header__nav-sub__item {
  display: flex;
  align-items: center;
  font-size: min(1.26953125vw, 16px);
  color: #0b0b0b;
}

.p-header__nav-sub__arrow {
  margin-top: min(0.078125vw, 1px);
}

.p-header__nav-sub__text {
  margin-left: min(0.78125vw, 10px);
  font-weight: 700;
}

@media (any-hover: hover) {
  .p-header__nav-sub__item:hover {
    color: #e9352c;
  }
  .p-header__nav-sub__item:hover .p-header__nav-sub__arrow {
    -webkit-animation: 0.9s steps(2) arrow infinite;
            animation: 0.9s steps(2) arrow infinite;
  }
}
@-webkit-keyframes arrow {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes arrow {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(50%, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.p-header__nav-sub__button {
  position: relative;
  width: min(19.6869140625vw, 252px);
  height: min(3vw, 38.4px);
  margin-left: min(2.375vw, 30.4px);
}
.p-header__nav-sub__button::before {
  content: "";
  display: block;
  position: absolute;
  bottom: max(-0.3125vw, -4px);
  right: max(-0.3125vw, -4px);
  width: 100%;
  height: 100%;
  background-color: #e2e2e2;
  z-index: 3;
}

.p-header__nav-sub__button a {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding-left: min(3.875vw, 49.6px);
  border: solid 0.1875rem #0b0b0b;
  background-color: #ffffff;
  z-index: 4;
}

.p-header__nav-sub__button__icon {
  display: block;
  position: absolute;
  top: max(-0.25vw, -3.2px);
  left: min(0.875vw, 11.2px);
  width: min(2.25vw, 28.8px);
  height: min(2.3740234375vw, 30.4px);
  background-image: url(../../../img/top/book.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.p-header__nav-sub__button__icon::before {
  content: "";
  display: block;
  position: absolute;
  top: min(0.078125vw, 1px);
  left: 25%;
  width: 50%;
  height: 30%;
  background-color: #ffffff;
  z-index: -1;
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.p-header__nav-sub__button__text {
  position: relative;
  width: min(14.1865234375vw, 181.6px);
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

@media (any-hover: hover) {
  .p-header__nav-sub__button a:hover {
    background-color: #e9352c;
    border-color: #e9352c;
    transform: translate3d(0.25rem, 0.25rem, 0);
  }
  .p-header__nav-sub__button a:hover .p-header__nav-sub__button__icon::before {
    background-color: #e9352c;
  }
  .p-header__nav-sub__button a:hover .p-header__nav-sub__button__text {
    filter: brightness(0) invert(1);
  }
}
.p-header__contact {
  position: fixed;
  top: 0;
  right: 0;
  width: min(16.40625vw, 210px);
  height: min(17.1875vw, 220px);
  z-index: 1000000010;
}
.p-header__contact a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 0 min(0.9375vw, 12px) min(0.78125vw, 10px);
  background-color: #e9352c;
  border-radius: 0 0 0 3.125rem;
  z-index: 0;
  overflow: hidden;
}

.p-header__contact__time {
  position: relative;
  width: min(7.5771484375vw, 97px);
  z-index: 2;
}

.p-header__contact__text {
  position: relative;
  margin-top: min(0.9375vw, 12px);
  padding-top: 0.00625rem;
  padding-bottom: 0.00625rem;
  font-size: min(3.3203125vw, 42px);
  color: #ffffff;
  line-height: 1.0952380952em;
  letter-spacing: 0.25em;
  z-index: 2;
}

.p-header__contact__object {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.p-header__contact__object::before {
  content: "";
  position: absolute;
  bottom: -0.0625rem;
  right: -0.0625rem;
  width: min(7.6560546875vw, 98px);
  height: min(16.6404296875vw, 213px);
  background-image: url(../../../img/top/header_button_coder.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 1;
  transform: translate3d(100%, 0, 0);
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-property: opacity, transform;
}
.p-header__contact__object::after {
  content: "";
  position: absolute;
  bottom: -0.0625rem;
  right: -0.0625rem;
  width: min(7.6560546875vw, 98px);
  height: min(16.6404296875vw, 213px);
  background-image: url(../../../img/top/header_button_object.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  transform: scale(0);
  transform-origin: 50% 20%;
  transition: 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-property: opacity, transform;
}

@media (any-hover: hover) {
  .p-header__contact a:hover::after {
    opacity: 0;
  }
  .p-header__contact a:hover .p-header__contact__object::before {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition-delay: 0.1s;
    transition: 0.45s cubic-bezier(1, 0, 0, 1);
  }
  .p-header__contact a:hover .p-header__contact__object::after {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0.3s;
    transition: 0.45s cubic-bezier(1, 0, 0, 1);
  }
}
.p-header__hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: min(28.9666666667vw, 128px);
  height: min(28.9666666667vw, 128px);
  background-color: #e9352c;
  border-left: solid 0.1875rem #0b0b0b;
  border-bottom: solid 0.1875rem #0b0b0b;
  border-radius: 0 0 0 1.5625rem;
  z-index: 1000000010;
  overflow: hidden;
}
@media screen and (width >= 1024px) {
  .p-header__hamburger {
    display: none;
  }
}

.p-header__hamburger__icon {
  position: relative;
  z-index: 1;
}
.p-header__hamburger__icon span {
  display: block;
  width: min(13.952vw, 60px);
  height: 0.1875rem;
  background-color: #ffffff;
  transition-property: opacity, transform;
  transition: 0.5s cubic-bezier(0.42, -0.32, 0.24, 1.36);
}
.p-header__hamburger__icon span:nth-of-type(2) {
  margin: min(1.1626666667vw, 5rem) 0;
}

.p-header__hamburger__text {
  position: relative;
  width: min(13.952vw, 60px);
  margin-top: min(2.3256vw, 10px);
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */