html {
  height: 100vh;
  font-size: 62.5%;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

picture {
  display: block;
  max-width: 100%;
}

a {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  background: 0 0;
  vertical-align: baseline;
  cursor: pointer;
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.l-body {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  color: #0b0b0b;
  line-height: 1;
  text-rendering: geometricPrecision;
  text-decoration-thickness: 0.1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: none;
}
@media screen and (width >= 1024px) {
  .l-body {
    margin-top: 0;
  }
}
.l-body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/bg/bg_dot.svg);
  background-repeat: repeat;
  background-size: 0.2rem 0.2rem;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@media screen and (width >= 1024px) {
  .l-body::before {
    background-size: 0.4rem 0.4rem;
  }
}

.l-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}
@media screen and (width >= 1024px) {
  .l-header {
    transform: none;
  }
}

.c-display__sponly {
  display: block;
}
@media screen and (width >= 1024px) {
  .c-display__sponly {
    display: none;
  }
}

.c-display__pconly {
  display: none;
}
@media screen and (width >= 1024px) {
  .c-display__pconly {
    display: block;
  }
}

.c-flex__nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.c-font {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.c-font__02 {
  font-family: "M PLUS 1p", serif;
  font-weight: 400;
  font-style: normal;
}

.c-font__03 {
  font-family: "fot-udkakugoc80-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.p-header__inner {
  display: block;
  height: min(29.76vw, 128px);
  padding: min(9.3vw, 40px) min(7.5vw, 42px) 0;
}
@media screen and (width >= 561px) {
  .p-header__inner {
    padding: min(5.215vw, 40px) min(5.232vw, 53.529px) 0;
  }
}
@media screen and (width >= 1024px) {
  .p-header__inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: min(17.18vw, 220px);
    padding: min(5vw, 64px) min(19.625vw, 251.2px) 0 min(7.8125vw, 100px);
  }
}
@media screen and (width >= 1441px) {
  .p-header__inner {
    padding: 8rem 31.4rem 0 10rem;
  }
}

.p-header__logo {
  width: min(33.02vw, 142px);
}
@media screen and (width >= 1024px) {
  .p-header__logo {
    width: min(13.75vw, 176px);
  }
}
.p-header__logo a {
  display: block;
}

@media screen and (width >= 1024px) {
  .p-header__nav {
    display: flex;
    flex-direction: column-reverse;
    margin-top: max(-0.156vw, -2px);
  }
}

.p-header__nav-main {
  position: relative;
  margin-top: 2rem;
}
.p-header__nav-main > li + li {
  margin-left: 3.04rem;
}

.p-header__nav-main__item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  padding: 0.32rem;
  margin: -0.32rem;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(1rem, 0.385rem + 0.96vw, 1.25rem);
  color: #0b0b0b;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/*# sourceMappingURL=style.css.map */