@use "../../foundation/global" as g;

.c-coder {
  position: relative;
  width: min(g.sp-vw(175.289),201px);
  z-index: 10;
  @include g.s-tablet {
    width: min(g.s-tb-vw(147.008),201px);
  }
  @include g.pc {
    width: min(g.pc-vw(232),290px);
  }
}
.c-coder__01 {
  @extend .c-coder;
}

// イメージ画像
.c-coder__image {
  display: block;
  position: relative;
  width: 100%;
}

// キャッチコピー
.c-coder__catch {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  position: absolute;
  top: max(g.sp-vw(-17.442),-20px);
  right: min(g.sp-vw(36.628),42px);
  z-index: 1;
  @include g.s-tablet {
    top: max(g.s-tb-vw(-14.628),-20px);
    right: min(g.s-tb-vw(30.72),42px);
  }
  @include g.pc {
    top: min(g.pc-vw(1.6),2px);
    right: 0;
  }
  & > span {
    display: block;
    padding: min(g.sp-vw(6.105),7px) min(g.sp-vw(4.36),5px) min(g.sp-vw(8.721),10px);
    font-size: min(g.sp-vw(13),15px);
    color: g.$color-white;
    writing-mode: vertical-rl;
    background-color: g.$color-black;
    @include g.s-tablet {
      padding: min(g.s-tb-vw(5.12),7px) min(g.s-tb-vw(3.657),5px) min(g.s-tb-vw(7.314),10px);
    }
    @include g.pc {
      padding: min(g.pc-vw(8),10px) min(g.pc-vw(5.6),7px) min(g.pc-vw(12.8),16px);
      font-size: min(g.pc-vw(18),22px);
    }
  }
}
// profile部分
.c-coder__popup {
  display: block;
  position: absolute;
  bottom: min(g.sp-vw(103.779),119px);
  left: auto;
  right: min(g.sp-vw(27.907),32px);
  text-align: left;
  border-radius: g.rem(10);
  z-index: 10;
  pointer-events: auto;
  @include g.s-tablet {
    bottom: min(g.s-tb-vw(87.039),119px);
    right: min(g.s-tb-vw(23.405),32px);
  }
  @include g.pc {
    bottom: min(g.pc-vw(60),75px);
    right: min(g.pc-vw(0.8),1px);
  }
  &>:not(.c-coder__popup__bg) {
    opacity: 1;
    overflow: visible;
  }
}
.c-coder__profile {
  width: min(g.sp-vw(93),107px);
  padding: min(g.sp-vw(17.442),20px) min(g.sp-vw(13.081),15px);
  white-space: nowrap;
  @include g.s-tablet {
    width: min(g.s-tb-vw(86),107px);
    padding: min(g.s-tb-vw(14.628),20px) min(g.s-tb-vw(10.971),15px);
  }
  @include g.pc {
    width: min(g.pc-vw(148),185px);
    padding: min(g.pc-vw(16.8),21px) min(g.pc-vw(19.2),24px);
  }
}
.c-coder__profile__name {
  font-size: min(g.sp-vw(14),16px);
  text-decoration: underline;
  text-underline-offset: g.rem(3);
  @include g.s-tablet {
    font-size: min(g.s-tb-vw(13),16px);
  }
  @include g.pc {
    font-size: min(g.pc-vw(15),18px);
    text-underline-offset: g.rem(4);
  }
}
.c-coder__profile__category {
  margin-top: min(g.sp-vw(6.977),8px);
  padding-top: g.rem(1);
  padding-bottom: g.rem(1);
  font-size: min(g.sp-vw(12),14px);
  line-height: calc(calc( 38 / 28 )* 1em);
  @include g.s-tablet {
    margin-top: min(g.s-tb-vw(5.851),8px);
    font-size: min(g.s-tb-vw(12),14px);
  }
  @include g.pc {
    margin-top: min(g.pc-vw(6.4),8px);
    font-size: min(g.pc-vw(13),16px);
  }
  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-top: calc((1 - calc( 38 / 28 ))* .5em);
  }
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-bottom: calc((1 - calc( 38 / 28 ))* .5em);
  }
  & span {
    display: block;
    @include g.pc {
      display: inline-block;
    }
  }
  & span+span::before {
    content: none;
    @include g.pc {
      content: '/';
    }
  }
}
// 右上のアイコン
.c-coder__popup__icon {
  position: absolute;
  top: max(g.sp-vw(-10.465),-12px);
  right: max(g.sp-vw(-5.233),-6px);
  animation: floating 3s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  @include g.s-tablet {
    top: max(g.s-tb-vw(-8.777),-12px);
    right: max(g.s-tb-vw(-4.389),-6px);
  }
  @include g.pc {
    top: max(g.pc-vw(-11.2),-14px);
    right: max(g.pc-vw(-8),-10px);
  }
  & svg {
    width: min(g.sp-vw(28.77),33px);
    height: min(g.sp-vw(28.77),33px);
    fill: currentColor;
    transition: fill 0.150s cubic-bezier(0.645, 0.045, 0.355, 1);
    @include g.s-tablet {
      width: min(g.s-tb-vw(23.13),33px);
      height: min(g.s-tb-vw(23.13),33px);
    }
    @include g.pc {
      width: min(g.pc-vw(38.4),48px);
      height: min(g.pc-vw(38.4),48px);
    }
  }
  & path:nth-of-type(1) {
    fill: currentColor;
  }
  & path:nth-of-type(2) {
    fill: g.$color-white;
  }
  & path:nth-of-type(3) {
    fill: currentColor;
  }
  & path:nth-of-type(4) {
    fill: g.$color-white;
  }
}
// アイコンのアニメーション
@keyframes floating {
  0% {
    transform: translate3d(0, g.rem(10), 0);
  }
  50% {
    transform: translate3d(0, g.rem(-10), 0);
  }
  100% {
    transform: translate3d(0, g.rem(10), 0);
  }
}
.c-coder__popup__background {
  position: absolute;
  left: auto;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: min(g.sp-vw(93),107px);
  height: min(g.sp-vw(85),97px);
  border-radius: g.rem(10);
  border-right: solid g.$color-gray08;
  border-bottom: solid g.$color-gray08;
  background-color: g.$color-white;
  transition: 0.3s cubic-bezier(.42,-0.32,.24,1.36);
  transition-property: width, height;
  @include g.s-tablet {
    width: min(g.s-tb-vw(86),107px);
    height: min(g.s-tb-vw(77),97px);
  }
  @include g.pc {
    width: min(g.pc-vw(148),185px);
    height: min(g.pc-vw(68),84px);
  }
}

// hover時
@media (any-hover: hover) {
  .c-coder__popup:hover {
    color: g.$color-red;
    & .c-coder__popup__icon {
      animation-play-state: paused;
    }
  }
}

// 吹き出しの背景部分
.c-coder__object {
  position: absolute;
  z-index: -1;
}
.c-coder__object__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.c-coder__object__text {
  display: block;
  position: relative;
  letter-spacing: calc(-5 / 1000* 1em);
  white-space: nowrap;
  z-index: 1;
  & img {
    width: 100%;
  }
}