@use "../../foundation/global" as g;

// spサイズのみ
.c-display__sponly {
  display: block;
  @include g.pc {
    display: none;
  }
}
.c-display__sponly--inline {
  display: inline-block;
  @include g.pc{
    display: none;
  }
}
.c-display__sponly--contents {
  display: block;
  @include g.pc {
    display: contents;
  }
}
// pcサイズのみ
.c-display__pconly {
  display: none;
  @include g.pc {
    display: block;
  }
}
.c-display__pconly--inline {
  display: none;
  @include g.pc {
    display: inline-block;
  }
}
.c-display__pconly--contents {
  display: contents;
  @include g.pc {
    display: block;
  }
}