@use "../../foundation/global" as g;

// ----------------------------------
// font-family
// ----------------------------------
// Noto Sans JP
.c-font {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
// M PLUS 1p
.c-font__02 {
  font-family: "M PLUS 1p", serif;
  font-weight: 400;
  font-style: normal;
}
// fot-udkakugoc80-pro
.c-font__03 {
  font-family: "fot-udkakugoc80-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
}