@use "../../foundation/global" as g;

.p-about {
  background-color: g.$color-white;
  overflow: hidden;
}
.p-about__inner {
  position: relative;
  max-width: g.rem(1190);
  width: min(g.sp-vw(300),448px);
  margin: 0 auto;
  padding: min(g.sp-vw(87.209),100px) 0;
  @include g.s-tablet {
    width: min(g.s-tb-vw(482.72),880.25px);
    padding: min(g.s-tb-vw(73.142),100px) 0;
  }
  @include g.pc {
    width: g.pc-vw(887.46);
    padding: min(g.pc-vw(138.4),173px) 0 min(g.pc-vw(144),180px) min(g.pc-vw(16),20px);
  }
}
.p-about__title {
  position: relative;
  padding-top: g.rem(0.1);
  padding-bottom: g.rem(0.1);
  font-size: min(g.sp-vw(31),36px);
  line-height: calc(calc( 102 / 72 )* 1em);
  z-index: 1;
  white-space: nowrap;
  @include g.s-tablet {
    font-size: min(g.s-tb-vw(37),50px);
    line-height: calc(calc( 100 / 70 )* 1em);
  }
  @include g.pc {
    font-size: min(g.pc-vw(56),70px)
  }
  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-top: calc((1 - calc(102 / 72))* .5em);
    @include g.s-tablet {
      margin-top: calc((1 - calc( 100 / 70 ))* .5em);
    }
  }
  &::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    margin-bottom: calc((1 - calc(102 / 72))* .5em);
    @include g.s-tablet {
      margin-bottom: calc((1 - calc( 100 / 70 ))* .5em);
    }
  }
  & span {
    display: inline-block;
    width: min(g.sp-vw(47.09),54px);
    margin-top: min(g.sp-vw(2.616),3px);
    margin-bottom: min(g.sp-vw(3.2),4px);
    margin-right: max(g.sp-vw(-4.8),-3px);
    vertical-align: bottom;
    @include g.s-tablet {
      width: min(g.s-tb-vw(39.49),54px);
      margin-top: min(g.s-tb-vw(2.194),3px);
      margin-bottom: min(g.s-tb-vw(2.926),4px);
      margin-right: max(g.s-tb-vw(-9.6),-6px);
    }
    @include g.pc {
      width: min(g.pc-vw(86.4),108px);
      margin-top: min(g.pc-vw(6.4),8px);
      margin-right: max(g.pc-vw(-11.2),-7px);
    }
  }
}

// 日本地図
.p-about__map {
  display: block;
  position: absolute;
  top: min(g.sp-vw(61.047),70px);
  left: 50%;
  transform: translateX(-50%);
  width: min(g.sp-vw(374.99),430px);
  z-index: 0;
  @include g.s-tablet {
    top: min(g.s-tb-vw(73.142),100px);
    right: 0;
    left: unset;
    transform: translateX(0);
    max-width: g.rem(600);
    width: 70%;
  }
}