@use "../../foundation/global" as g;

.p-chatwork {
  position: fixed;
  bottom: min(g.sp-vw(17.442),20px);
  left: calc( 43 / 860 * calc( 3.75px * 100 ));
  width: min(g.sp-vw(257.5),871.625px);
  z-index: 100000000;
  @include g.pc {
    top: min(g.pc-vw(192),240px);
    bottom: unset;
    left: unset;
    right: 0;
    width: min(g.pc-vw(168),210px);
  }
  &::before {
    content: none;
    @include g.pc {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: max(g.pc-vw(-3.2),-4px);
      width: 100%;
      height: 100%;
      border-radius: g.rem(100) 0 0 g.rem(100);
      background-color: g.$color-gray09;
      z-index: -1;
    }
  }
  & a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: min(g.sp-vw(11.337),13px) 0;
    background-color: g.$color-white;
    border-radius: 100px;
    border: solid g.rem(3) g.$color-dark;
    z-index: 1;
    overflow: hidden;
    @include g.pc {
      justify-content: flex-start;
      padding: min(g.pc-vw(11.2),14px) 0 min(g.pc-vw(11.2),14px) min(g.pc-vw(20.8),26px);
      border: none;
      border-radius: g.rem(100) 0 0 g.rem(100);
    }
  }
}
.p-chatwork__logo {
  width: min(g.sp-vw(105.516),121px);
  transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  @include g.pc {
    width: min(g.pc-vw(84.797),106px);
  }
}
.p-chatwork__text {
  margin-left: min(g.sp-vw(2.616),3px);
  font-size: min(g.sp-vw(17),19px);
  @include g.pc {
    margin-left: min(g.pc-vw(3.2),4px);
    font-size: min(g.pc-vw(15),18px);
  }
}

// hover時
@media (any-hover: hover) {
  .p-chatwork a:hover {
    color: g.$color-white;
    background-color: g.$color-red;
    transform: translate3d(0, g.rem(4), 0);
    & .p-chatwork__logo {
      filter: brightness(0) invert(1);
    }
  }
}