@use "../../foundation/global" as g;

.p-data {
  position: relative;
  padding: min(g.sp-vw(87.209),100px) 0 0;
  background: g.$color-red;
  z-index: 0;
  @include g.s-tablet {
    padding: min(g.s-tb-vw(73.142),100px) 0 0;
  }
  @include g.pc {
    padding: 0 0 min(g.pc-vw(40),50px);
  }
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../../img/bg/bg_code.webp);
    background-position: 0 center;
    background-repeat: repeat;
    background-size: g.rem(696.5) g.rem(690);
    z-index: -1;
    opacity: 0.05;
    @include g.pc {
      background-size: g.rem(1393) g.rem(1380);
    }
  }
}

.p-data__header__inner {
  position: relative;
  width: min(g.sp-vw(300),448px);
  margin: 0 auto;
  padding: 0;
  @include g.s-tablet {
    width: min(g.s-tb-vw(482.72),680px);
  }
  @include g.pc {
    width: min(g.pc-vw(544),680px);
    padding: min(g.pc-vw(138.4),173px) 0 min(g.pc-vw(129.6),162px);
  }
}

// title
.p-data__title__area {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  color: g.$color-white;
  z-index: 10;
}
// main-title
.p-data__title__main {
  position: relative;
  font-size: min(g.sp-vw(21),24px);
  writing-mode: vertical-rl;
  @include g.s-tablet {
    font-size: min(g.s-tb-vw(20),24px);
  }
  @include g.pc {
    font-size: min(g.pc-vw(38),48px);
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: g.rem(1);
    height: 100%;
    background-color: currentColor;
    @include g.pc {
      left: g.rem(-1);
      width: g.rem(3);
    }
  }
}
// sub-title
.p-data__title__sub {
  width: min(g.sp-vw(141.28),162px);
  margin-right: min(g.sp-vw(20.058),23px);
  @include g.s-tablet {
    width: min(g.s-tb-vw(118.49),162px);
    margin-right: min(g.s-tb-vw(16.823),23px);
  }
  @include g.pc {
    width: min(g.pc-vw(258.4),323px);
    margin-right: min(g.pc-vw(37.6),47px);
  }
}

// header内coderarea
.p-data__header__coder__area {
  position: relative;
  width: fit-content;
  margin: min(g.sp-vw(72.384),83px) auto 0;
  @include g.s-tablet {
    margin: min(g.s-tb-vw(60.708),83px) auto 0;
  }
  @include g.pc {
    position: static;
    width: auto;
    margin: 0;
  }
}
// header内左側のcoder
.p-data__header__coder--01 {
  position: absolute;
  bottom: 0;
  left: max(g.sp-vw(-89.826),-103px);
  width: min(g.sp-vw(157.84),181px);
  @include g.s-tablet {
    left: max(g.s-tb-vw(-75.336),-103px);
    width: min(g.s-tb-vw(132.38),181px);
  }
  @include g.pc {
    left: max(g.pc-vw(-168.416),-210.52px);
    width: min(g.pc-vw(207.77),259.73px);
  }
  @include g.l-pc {
    left: g.rem(-277);
    width: g.rem(302);
  }
}
.p-data__header__coder__popup--01 {
  @include g.pc {
    bottom: min(g.pc-vw(60.8),76px);
    left: max(g.pc-vw(-12),-15px);
  }
}
.p-data__header__coder__object--01 {
  top: max(g.sp-vw(-41.86),-48px);
  right: max(g.sp-vw(-54.07),-62px);
  width: min(g.sp-vw(172.23),197.5px);
  @include g.s-tablet {
    top: max(g.s-tb-vw(-35.108),-48px);
    right: max(g.s-tb-vw(-45.348),-62px);
    width: min(g.s-tb-vw(144.45),197.5px);
  }
  @include g.pc {
    top: max(g.pc-vw(-64),-80px);
    right: max(g.pc-vw(-84.8),-106px);
    width: min(g.pc-vw(263.2),329px);
  }
}
.p-data__header__coder__object__inner--01 {
  margin-top: 0;
  margin-left: min(g.sp-vw(12.209),14px);
  @include g.s-tablet {
    margin-left: min(g.s-tb-vw(10.24),14px);
  }
  @include g.pc {
    margin-top: max(g.pc-vw(-8),-10px);
    margin-left: min(g.pc-vw(26.4),33px);
  }
  @include g.l-pc {
    margin-top: g.rem(-1);
    margin-left: g.rem(33);
  }
}
.p-data__header__coder__object__text--01 {
  width: min(g.sp-vw(111.63),128px);
  @include g.s-tablet {
    width: min(g.s-tb-vw(93.62),128px);
  }
  @include g.pc {
    width: min(g.pc-vw(147.16),183.95px);
  }
  @include g.l-pc {
    width: g.rem(219);
  }
}
// header内右側coder
.p-data__header__coder--02 {
  width: min(g.sp-vw(157.84),181px);
  transform: translateX(min(g.sp-vw(100),114px));
  z-index: 11;
  @include g.s-tablet {
    width: min(g.s-tb-vw(132.38),181px);
    transform: translateX(min(g.s-tb-vw(83),114px));
  }
  @include g.pc {
    position: absolute;
    bottom: 0;
    right: max(g.pc-vw(-176),-220px);
    width: min(g.pc-vw(184.383),181px);
    transform: translateX(0);
  }
  @include g.l-pc {
    right: g.rem(-275);
    width: g.rem(268);
  }
}
.p-data__header__coder__popup--02 {
  bottom: min(g.sp-vw(24.419),28px);
  left: auto;
  right: min(g.sp-vw(15.698),18px);
  padding: min(g.sp-vw(17.442),20px) min(g.sp-vw(8.721),10px);
  @include g.s-tablet {
    bottom: min(g.s-tb-vw(20.48),28px);
    right: min(g.s-tb-vw(13.166),18px);
    padding: min(g.s-tb-vw(14.628),20px) min(g.s-tb-vw(7.314),10px);
  }
  @include g.pc {
    bottom: min(g.pc-vw(60.8),76px);
    right: max(g.pc-vw(-8),-10px);
    padding: min(g.pc-vw(16.8),21px) min(g.s-tb-vw(10.4),13px);
  }
}