@use "../../foundation/global" as g;

.p-header__inner {
  display: block;
  height: min(29.76vw,128px);
  padding: min(9.3vw,40px) min(7.5vw,42px) 0;
  @include g.s-tablet {
    padding: min(5.215vw,40px) min(5.232vw,53.529px) 0;
  }
  @include g.pc {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: min(17.18vw,220px);
    padding: min(5vw,64px) min(19.625vw,251.2px) 0 min(7.8125vw,100px);
  }
  @include g.l-pc {
    padding: 8rem 31.4rem 0 10rem;
  }
}

// ロゴ
.p-header__logo {
  width: min(33.02vw,142px);
  @include g.pc {
    width: min(13.75vw,176px);
  }
  & a {
    display: block;
  }
}
// ロゴhover時
@media (any-hover: hover) {
  .p-header__logo a:hover {
    opacity: 0.4;
  }
}

// ナビゲーション
.p-header__nav {
  @include g.pc {
    display: flex;
    flex-direction: column-reverse;
    margin-top: max(-0.156vw,-2px);
  }
}
.p-header__nav-main {
  position: relative;
  margin-top: min(1.95vw,25px);
  & > li+li {
    margin-left: min(2.968vw,38px);
  }
}
.p-header__nav-main__item {
  display: flex;
  align-items: center;
  gap: .5rem;
  position: relative;
  padding: min(0.312vw,4px);
  margin: max(-0.312vw,-4px);
  font-weight: 700;
  font-style: normal;
  font-size: min(1.562vw,20px);
  color: g.$color-dark;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  @include g.l-pc {
    font-size: 2.6rem;
  }
}