@use "../../foundation/global" as g;

.p-header__inner {
  display: block;
  height: 18rem;
  padding:  min(3.91vw,40px) min(5.232vw,53.5291px) 0;
  @include g.pc {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 22rem;
    padding: clamp(3.2rem, 1.231rem + 3.08vw, 4rem) clamp(12.56rem, 4.831rem + 12.08vw, 15.7rem) 0 clamp(5rem, 1.923rem + 4.81vw, 6.25rem);
  }
  @include g.l-pc {
    padding: 8rem 31.4rem 0 10rem;
  }
}

// ロゴ
.p-header__logo {
  width: 14.2rem;
  @include g.pc {
    width: 14rem;
  }
  & a {
    display: block;
  }
}

// ナビゲーション
.p-header__nav {
  @include g.pc {
    display: flex;
    flex-direction: column-reverse;
    margin-top: -1.6rem;
  }
}
.p-header__nav-main {
  position: relative;
  margin-top: 2rem;
  & > li+li {
    margin-left: 3.04rem;
  }
}
.p-header__nav-main__item {
  display: flex;
  align-items: center;
  gap: .5rem;
  position: relative;
  padding: 0.32rem;
  margin: -0.32rem;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(1rem, 0.385rem + 0.96vw, 1.25rem);
  color: g.$color-dark;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}