@use "../foundation/global" as g;

.l-body {
  position: relative;
  width: 100%;
  margin-top: 3rem;
  font-size: 1rem;
  color: g.$color-dark;
  line-height: 1;
  text-rendering: geometricPrecision;
  text-decoration-thickness: 0.1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior-y: none;
  @include g.pc {
    margin-top: 0;
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../img/bg/bg_dot.svg);
    background-repeat: repeat;
    background-size: 0.2rem 0.2rem;
    opacity: .2;
    z-index: -1;
    pointer-events: none;
    transition: all 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    @include g.pc {
      background-size: 0.4rem 0.4rem;
    }
  }
}