@use "../foundation/global" as g;

.l-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  @include g.pc {
    transform: none;
  }
}