@use "../foundation/global" as g;

.l-wrapper {
  position: relative;
  z-index: 10;
  transform: translate3d(0, 0, 0);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  @include g.pc {
    position: static;
  }
}